@charset "UTF-8";
/*Cor principal: #444444 (cinza escuro)
Tons mais claros:
#636363 (cinza médio)
#888888 (cinza claro)
#BDBDBD (cinza claro acinzentado)
#EFEFEF (branco cinza claro)*/
:root{
    --cor-pricipal:#444444;
    --cinza-médio:#636363;
    --cinza-claro:#888888;
    --cinza-acinzentado:#BDBDBD;
    --branco-cinza:#EFEFEF;


}
.navbar{
    background-color: var(--cor-pricipal);
    color: var(--branco-cinza);
}

body,html{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("imagens/imagem\ de\ fundo.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
main{
    min-width:300px;
    max-width: 1000px;
    margin: auto;
    background-color:var(--cinza-claro);
    color:black;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.479);
}
article>h1{
    text-align: center;
    font-size:3.5vw;
}
article>p{
    font-size: 3vw;
    text-indent: 20px;
    text-align: justify;
}

.foto1 > img{
    width:50%;
    display: block;
    margin: auto;
    border-radius: 10px;
    box-shadow: inset 1px 1px 1px 1px ;
    
}
footer{
    min-width:300px;
    max-width: 1000px;
    background-color:var(--cor-pricipal);
    padding:3px;
    margin: 2px auto 1px auto;
}
footer>p{
text-align: center;
padding-top: 10px;
margin-bottom: 7px;
color: var(--cinza-acinzentado);
font-size: 3vw;
}